.dr-bg-img{
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    height: 280px;
    width: 100%;
  }

  .single-drink{
    margin: 25%;
    background-size: contain;
    background-repeat: no-repeat;
    width: 300x;
    height: 300px;
  }

  .card {
    padding:0;
    margin: 30%;
    justify-content: center;
    /* position: center; */
  }