.dr-bg-img{
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    height: 280px;
    width: 100%;
  }

  .card{
    background-size: cover;
    height: 100%;
    width: 100%;
  }